/* Accordion styles */
.tab-label{
    cursor: pointer;
}
.tab-input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.tab-content {
    max-height: 1.5em;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}
/* :checked */
.tab-input:checked ~ .tab-content {
    max-height: 40em;
}
/* Icon */
.tab-label::after {
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

